/* detail */
.poll-parts {
  .poll-part {
    margin: 0.75em 1.125em;

    h3, span {
      display: inline-block;
      max-width: 50%;
    }

    span {
      position: relative;

      margin: 1em 0;

      &:after {
        content: attr(data-score);

        font-weight: 700;

        position: relative;

        margin-left: 1em;
      }

      &:before {
        content: '';

        display: block;
        position: absolute;
        top: 0;
        left: 0.5em;
        bottom: 0;
        right: 0.5em;

        background: $yellow;
      }
    }
  } 
}

.comments {
  color: $dark;
  background: #ffffff;

  margin-bottom: 24px;
  padding: 0.1px 20px;

  position: relative;
}

.comment {
  text-align: left;

  margin: 1em 0;
  padding-left: 20px;

  position: relative;

  .close {
    display: block;
    width: 20px;

    position: absolute;
    top: 0.25em;
    left: 0;
    bottom: 1em;

    cursor: pointer;

    &:before {
      content: '';

      position: absolute;
      top: 0.5em;
      left: 0;

      display: none;
      width: 1em;
      height: 1px;

      background: $yellow;

      opacity: 0.25;

      @include transform(translate(-50%, 0));

      @include transition(opacity 0.25s ease-in-out);
    }
    
    &:after {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 1px;
      height: 100%;

      background: $yellow;

      opacity: 0.25;

      @include transition(opacity 0.25s ease-in-out);
    }

    &:hover {
      &:after, &:before {
        opacity: 1;
      }
    }
  }

  &.closed {
    .close {
      &:before {
        display: block;
      }
      &:after {
        height: 1em;
      }
    }

    .child-item, .text {
      display: none;
    }

    .comment-body {
      .meta {
        &:after {
          display: inline;
        }
      }
    }
  }

  .comment-body {
    position: relative;

    padding-bottom: 0.75em;

    .meta {
      margin: 0.75em 0;

      opacity: 0.5;

      &:after {
        content: attr(data-comment-count);
        margin-left: 0.5em;

        display: none;
      }
    }

    .text {
      font-size: 1.17em;
    }

    &:after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 1px;

      background: $dark;

      opacity: 0.5;
    }
  }
}