/*overview*/
.item {
  color: $dark;
  background: #ffffff;

  margin-bottom: 24px;
  padding: 0.1px;

  position: relative;

  .left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: 40px;

    border-right: solid 1px $dark;

    .points {
      font-weight: 700;
      line-height: 1;

      display: block;

      margin-top: 0.75em;

      position: relative;

      &:after {
        content: 'points';

        font-size: 0.75em;
        font-weight: 400;

        display: block;
      }
    }
  }

  .center {
    text-align: left;

    margin: 0 40px;

    .meta {
      margin: 0.75em 1.125em;
    }

    .comment-count {
      margin: 0.75em 1.125em;

      a {
        &:hover {
          color: $yellow;
        }
      }

      .count {
        display: inline-block;

        font-weight: 700;
        @include transition(color 0.25s ease-in-out);

        &:before {
          content: '';

          display: inline-block;
          width: 1em;
          height: 1em;

          position: relative;
          top: 0.25em;

          margin-right: 0.5em;

          background: url('../img/iconmonstr-speech-bubble-16.svg') no-repeat center;
          background-size: auto 100%;
        }

        &:after {
          content: 'comments';

          font-size: 0.75em;
          font-weight: 400;

          display: inline-block;
          margin-left: 0.25em;
        }
      }
    }

    .title {
      font-weight: 700;
      
      margin: 0.5em 0.75em
    }
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 40px;

    .vote {
      display: block;
      
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &:before {
        content: '';

        display: inline-block;
        margin-top: 0.75em;

        border-style: solid;
        border-width: 0 0.75em 1.5em 0.75em;
        border-color: transparent transparent $yellow transparent;

        @include transform-origin(center, bottom);
        @include transition(transform 0.25s ease-in-out);
      }

      &:after {
        content: 'vote';

        font-size: 0.75em;
        line-height: 1;

        display: block;

        @include transition(color 0.25s ease-in-out);
      }

      &:hover {
        &:before {
          @include transform(scale(1.2));
        }

        &:after {
          color: $yellow;
        }
      }
    }
  }
}

.load-more {
  color: $dark;
  background: #ffffff;

  display: block;

  margin-bottom: 24px;
  padding: 0.1px;

  &:before {
    content: 'Load more';

    font-weight: 700;
    
    display: block;
    margin: 0.5em 0.75em;

    @include transition(color 0.25s ease-in-out);
  }

  &:after {
    content: '';

    display: inline-block;
    margin-bottom: 0.75em;

    border-style: solid;
    border-width: 1.5em 0.75em 0 0.75em;
    border-color: $yellow transparent transparent transparent;

    @include transform-origin(center, top);
    @include transition(transform 0.25s ease-in-out);
  }

  &:hover {
    &:before {
      color: $yellow;
    }

    &:after {
      @include transform(scale(1.2));
    }
  }

  .loading & {
    display: none;
  }

  .hide-more & {
    display: none;
  }
}