@import "compass/css3";

$grey: #333;
$dark: #404040;
$yellow: #fbbd08;

$width: (
  "smartphone-small":  '310px',
  "smartphone-medium": '375px',
  "smartphone":        '480px',
  "tablet-small":      '600px',
  "tablet":            '768px',
  "laptop-small":      '950px',
  "laptop":            '1040px',
  "desktop-small":     '1240px',
  "desktop-medium":    '1340px',
  "desktop-wide":      '1450px'
);

@mixin breakpointMin($point) {
  @media (min-width: map-get($width,$point)) {
    @content;
  }
}

html, body, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1, h2 {
  font-weight: normal;
  font-size: 1.2em;
}

h3 {
  font-weight: normal;
  font-size: 1em;
}

h1 {
  @include breakpointMin("tablet") {
    font-size: 2em;
  }
}

h2 {
  @include breakpointMin("tablet") {
    font-size: 1.5em;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-align: center;

  -moz-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  -ms-font-feature-settings: normal;
  -o-font-feature-settings: normal;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  

  -webkit-font-smoothing: antialiased;
  -khtml-font-smoothing: antialiased;
  -apple-font-smoothing: antialiased;
  font-smooth: always;
  text-rendering: optimizelegibility;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;

  background: $grey;
}

.bold {
  font-weight: 700;
}

header {
  color: $dark;
  text-align: left;

  background: $yellow;

  h1, h2 {
    margin: 0 auto;
    padding: 0.5em;
  }
}

main {
  max-width: 100%;

  margin: auto;
  padding: 20px 0;

  &.loading {
    &:after {
      content: '';

      display: inline-block;
      width: 5em;
      height: 5em;

      position: fixed;
      top: 50%;
      left: 50%;

      margin-top: -2.5em;
      margin-left: -2.5em;

      background: url('../img/iconmonstr-brightness-4.svg') no-repeat center;
      background-size: auto 100%;

      @include animation(rotate 3s infinite);
    }
  }

  @include breakpointMin("tablet") {
    max-width: 800px;

    padding: 20px 24px;

    &.loading {
      &:after {
        width: 10em;
        height: 10em;
      }
    }
  }
}

@include keyframes(rotate) {
  from {
    @include transform(rotate(0deg));
  }

  to {
    @include transform(rotate(360deg));
  }
}

@import "overview";
@import "detail";