{% extends "layout.twig" %}

{#remove loading class from main#}
{% block mainclasses "" %}

{% block content %}
  <h1>Oops! Something went wrong</h1>
  <p>Please go back to the <a href="{{ url('homepage') }}">homepage</a></p>
{% endblock %}