{% extends "layout.twig" %}

{% block content %}
  <script type="text/javascript">
    const config = {
      type: 'detail',
      id: '{{ id }}',
      notFoundURL: '{{ url("notFoundPage") }}'
    }
  </script>
{% endblock %}