{% extends "layout.twig" %}

{% block content %}
  <script type="text/javascript">
    const config = {
      type: 'overview',
      index: '{{ id }}',
      baseURL: '{{ url("homepage") }}'
    }
  </script>
  <a href="" class="load-more"></a>
{% endblock %}