<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#fbbd08">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#fbbd08">
    <!-- mobile Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  {% block head %}
    <title>{% block title "EIGENSONNE | HackerNews" %}</title>
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('main.css', 'css') }}" />
    {% endblock %}
  {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
      <h1><a href="{{ url('homepage') }}"><span class="bold">EIGEN</span>SONNE | HackerNews</a></h1>
      {% endblock %}
    </header>
    <main class="{% block mainclasses "loading" %}">
      {% block content "" %}
    </main>
    {% block javascripts %}
    <script src="{{ asset('scripts.js', 'js') }}"></script>
    {% endblock %}
  </body>
</html>